<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<bean name="tabDemo" class="test.TabComponentsDemo">
		<constructor-arg value="test"></constructor-arg>
	</bean>
	<bean name="dbConnection" class="cdu.computer.hxl.db.impl.DefaultDBConnectionImpl">
	</bean>
	<bean name="dbCURDHandler" class="cdu.computer.hxl.db.impl.DefaultDBCRUDHandler">
	</bean>
	<bean name="memberService" class="cdu.computer.hxl.service.MemberService">
		<property name="dbHandler" ref="dbCURDHandler"></property>
	</bean>
	<bean name="incomeService" class="cdu.computer.hxl.service.IncomeService">
		<property name="dbHandler" ref="dbCURDHandler"></property>
	</bean>

	<bean name="bankService" class="cdu.computer.hxl.service.BankService">
		<property name="dbHandler" ref="dbCURDHandler"></property>
	</bean>
</beans>